.form-input {
  width: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.auth-form button {
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}
.content{
  height: 200px;
  font-size: 24px;
  background: beige;
  h1 {
    font-size: 1em;
  }
  p {
    font-size: .75em;
  }

}